footer {
    background-color: #c5192d;
    color: white;
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}
a {
    color: white;
}
footer>p{
    text-align:center;
    margin: auto;
}