header {background-image: url("assets/img/studentsbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 55vh;
    position: relative;

    }
header>div {background-color: #c5192d;
            color:white;
           position:absolute;
           top: 96px;
           text-align: center;
           margin: 0 auto;
            padding: 40px;
            }
    body {margin:auto;}