header {
    background-image: url("assets/img/studentsbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 65vh;
    position: relative;
    margin:auto;
}

header>div {
<<<<<<< HEAD
    margin: auto;
    position: absolute;
    top: 4rem;
    text-align: center;
    padding: 1.5rem;
    transform: translate(50%, 50%);
    background-color: #c5192d;
    color:white;
}
=======
    position:absolute;
           margin: 0 auto;
           top: 4rem;
           text-align: center;
            padding: 40px;
            background-color: #c5192d;
            color:white;
            }

            body {margin:auto;}
>>>>>>> b8c4e0898c873c4f6b6706ff996bd0adbc5740f4
