header {
    background-image: url("assets/img/studentsbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100%;
    height: 65vh;
    position: relative;
    margin:auto;
    
}

header>div {
    position: absolute;
    width: 70%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    background-color: #c5192d;
    color:white;
}
header p{
    margin:auto;
}

