html {
    font-size: 14px;
}
body {
    margin: 0;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
}
main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    width: 70%;
    top: 700px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 darkgray;
    background-color: whitesmoke;
}
article {
    padding: 2rem;
    border-bottom: 0.1px solid darkgray;
}
@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Bold.ttf);
}
h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.2rem;
}
p {
    line-height: 1.5;
    max-width: 70ch;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li:before {
    width: 1rem;
    display: inline;
    margin: 1rem 1rem 0 1rem;
}
li:nth-child(1)::before {
    content: "\1F64C";
}
li:nth-child(2)::before {
    content: "\1F3EB";
}
li:nth-child(3)::before {
    content: "\1F4DA";
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    header {
        height: 55vh;
    }
    main, header>div, footer {
        width: 95vw;
    }
    article>img {
        max-width: 100%;
        max-height: 100%;
    }
    article:nth-child(3) {
        transform: scaleY(-1)
    }
    article:nth-child(3)>img, article:nth-child(3)>div {
        transform: scaleY(-1)
    }
    #intro-container {
        background-color:#c5192d;
    }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
    html {            
        font-size: 16px;
    }
    header {
        height: 65vh;
    }
    main, header>div, footer {
        width: 85vw;
    }
    article>div {
        width:45%;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
    }
    article>img {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
    }
    #intro-container {
        height: 100%;
        background: linear-gradient(90deg, #c5192d 50%, rgba(0,0,0,0) 50%);
    }
}
@media screen and (min-width: 961px) {
    html {            
        font-size: 24px;
    }
    header {
        height: 65vh;
    }
    main, header>div, footer {
        width: 70vw;
    }
    article>div {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
    }
    article>img {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
    }
    #intro-container {
        height: 100%;
        background: linear-gradient(90deg, #c5192d 50%, rgba(0,0,0,0) 50%);
    }
}

